<ion-header>

  <ion-navbar>
    <ion-title> {{'UserProfileTitle' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card col-lg-4 offset-lg-4>
    <ion-card-content *ngIf="userProfileDetail">
      <img [src]="profileImage">
      <p>
        <strong>{{userProfileDetail.partyName}}</strong>
      </p>
      <p>{{'Role' | translate}}</p>
      <ion-item *ngIf="userProfileDetail.email">
        <ion-icon name="mail" item-start></ion-icon>
        {{userProfileDetail.email}}
      </ion-item>
      <ion-item *ngIf="userProfileDetail.contact">
        <ion-icon name="call" item-start></ion-icon>
        {{userProfileDetail.contact}}
      </ion-item>
      <ion-item *ngIf="userProfileDetail.address">
        <ion-icon name="locate" item-start ></ion-icon>
        {{userProfileDetail.address.address1}}
      </ion-item>
      <ion-item (tap)="updatePassword()">
        <ion-icon name="key" item-start></ion-icon>
        {{'ResetPassword' | translate}}
      </ion-item>
      <ion-item *ngIf="deviceLocation">
        <ion-icon name="locate" item-start ></ion-icon>
        {{deviceLocation.latitude}}
      </ion-item>
      <ion-item>
        <ion-icon name="time" item-start ></ion-icon>
        {{timeZone}}
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>


`
